
.outer-box{
    width : 100%  ; 
    display : flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
   .heading1 {
    font-size: 75px;
    padding: 25px;
    text-align: center;
  }
  .outer-box h2 , .heading2{
    font-size: 35px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading2 {
     font-weight: 500;
  }
  .outer-box .data-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .outer-box .data-box .address-fields{
    display: flex;
    flex-direction: column;
  }
  .outer-box .data-box .address-fields .field{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .outer-box .data-box .address-fields h3{
  font-size: 22px;
  font-weight: 500;
  
  }
  .outer-box .data-box div{
    display: flex;
    align-items: center;
    
  }
  .outer-box .data-box div input {
    border-radius: 10px;
    width :300px;
    font-size: 20px;
    border: 1px solid black;
    padding: 0px 10px;
  }
  .outer-box .data-box div button{
    font-size: 20px;
  }
  .outer-box .data-box div input::placeholder{
    padding-left: 10px;
  }
  .outer-box .data-box .profilePicture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
  }
  
  @media(max-width : 700px){
    .outer-box .data-box{
      display: flex;
      flex-direction: column;
    }
    .outer-box .data-box div{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .orders{
    width: 100%;
  }
  
  .order {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px;
    width: 100%;
    background-color: #DBE2EF;
    align-items: center;
  
  }
  
  .order img{
    height: 100px;
    width: 100px;
    
    border : 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 25%;
    
  }
  
  .products {
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  
  .product {
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
  }
  
  .product div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product .product-image{
    padding: 10px;
  }
  
  .order .product-details {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .order .product-name{
    font-size: 25px;
    font-weight: 600;
  }
  .order .value{
    font-size: 22px;
    font-weight: 500;
  }
  .product .order_state {
    
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center ;
    border-radius: 12px;
  }
  .product .yellow{
    background-color: yellow;
  }
  .product .green{
    background-color: green;
  }
  
  .product .red {
    background-color: red;
  }
  
  .order-status{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #F7F7F6;
    justify-content: center;  
  }
  
  .order-status div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
  }
  
  .order-status .heading3 {
    color: #7F848F;
    font-size: 14px;
    text-align: left;
  }
  
  @media(max-width : 700px) {
    .order{
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 10px 0px;
      background-color: #DBE2EF;
    }
    .order-status {
      grid-template-columns: 1fr 1fr;
      
    }
    .order-status div{
      padding: 15px;
    }
  }
  